<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/assets/style.css">
    <title>Forum | Metal in blood</title>
</head>
<body>
    <main class="main comments">
        <div class="wrapper">
            <div class="main__inner">
                <div class="main__logo">
                    <a href="forum.html">
                        <img src="static/metal-in-blood/MiB-logo.png" alt="">
                        <span>forum</span>
                    </a>
                </div>
                <div class="main__content comments">
                    <article class="main__article">
                        <img src="https://i.gifer.com/g0R5.gif" class="load">
                    </article>
                    <section class="comment__main">
                        <img src="https://i.gifer.com/g0R5.gif" class="load">
                    </section>
                    <p class="add-new">{{ add_comment }}</p>   
                    <form class="add-new__form">
                        <textarea name="body" placeholder="{{ type_comment }}"></textarea> 
                        <button>{{ add_comment }}</button>
                    </form> 
                </div>
            </div>
        </div>
    </main>
    
    <script src="static/assets/js/data.js"></script>
    <script src="static/assets/js/index.js"></script>
    <script src="static/assets/js/comments.js"></script>
</body>
</html>
