<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/assets/style.css">
    <title>News | Metal in blood</title>
</head>
<body>
    <main class="main news">
        <div class="wrapper">
            
            <div class="main__inner">
                <div class="main__logo">
                    <a href="index.html">
                        <img src="static/metal-in-blood/MiB-logo.png" alt="">
                        <span>Home</span>
                    </a>
                </div>
                <div class="main__content">
                    <article class="main__article">
                        <div class="article__info">
                            <img src="https://img.favpng.com/12/24/4/heavy-metal-music-hard-rock-microphone-sound-png-favpng-6dhU4fDSgaHBj2VgGeQw3XK1F.jpg" alt="">
                            <div>
                                <p class="username">Metalhead 1337</p>
                                <p class="date">07.05.20</p>
                            </div>
                        </div>
                        <div class="article__main">
                            <div class="article__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi earum ea minus nemo doloremque libero facere adipisci fugit? Nemo ratione modi ducimus accusamus esse reprehenderit consequuntur voluptate pariatur dolorem distinctio, ad obcaecati? Pariatur excepturi voluptatum asperiores illo at repudiandae. Tenetur.
                                <a href="#" class="read-more">Read more...</a>
                            </div>
                            <div class="article__img"><img src="https://res.cloudinary.com/jerrick/image/upload/fl_progressive,q_auto,w_1024/htz2w34s3mnwkhmjdncx.jpg" alt=""></div>
                        </div>
                    </article>
                    <article class="main__article">
                        <div class="article__info">
                            <img src="https://img.favpng.com/12/24/4/heavy-metal-music-hard-rock-microphone-sound-png-favpng-6dhU4fDSgaHBj2VgGeQw3XK1F.jpg" alt="">
                            <div>
                                <p class="username">Metalhead 1337</p>
                                <p class="date">07.05.20</p>
                            </div>
                        </div>
                        <div class="article__main">
                            <div class="article__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi earum ea minus nemo doloremque libero facere adipisci fugit? Nemo ratione modi ducimus accusamus esse reprehenderit consequuntur voluptate pariatur dolorem distinctio, ad obcaecati? Pariatur excepturi voluptatum asperiores illo at repudiandae. Tenetur.
                                
                            </div>
                        </div>
                    </article>
                    <article class="main__article">
                        <div class="article__info">
                            <img src="https://img.favpng.com/12/24/4/heavy-metal-music-hard-rock-microphone-sound-png-favpng-6dhU4fDSgaHBj2VgGeQw3XK1F.jpg" alt="">
                            <div>
                                <p class="username">Metalhead 1337</p>
                                <p class="date">07.05.20</p>
                            </div>
                        </div>
                        <div class="article__main">
                            <div class="article__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi earum ea minus nemo doloremque libero facere adipisci fugit? Nemo ratione modi ducimus accusamus esse reprehenderit consequuntur voluptate pariatur dolorem distinctio, ad obcaecati? Pariatur excepturi voluptatum asperiores illo at repudiandae. Tenetur.
                                <a href="#" class="read-more">Read more...</a>
                            </div>
                            <div class="article__img"><img src="https://res.cloudinary.com/jerrick/image/upload/fl_progressive,q_auto,w_1024/htz2w34s3mnwkhmjdncx.jpg" alt=""></div>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </main>
    
    <script src="static/assets/js/data.js"></script>
    <script src="static/assets/js/index.js"></script>
</body>
</html>
